@import url("https://assets.mlcdn.com/fonts.css?version=1750852");

.ml-form-embedSubmitLoad {
display:inline-block;
width:20px;
height:20px
}

.g-recaptcha{
transform:scale(1);
-webkit-transform:scale(1);
transform-origin:0 0;
-webkit-transform-origin:0 0;
height:auto
}

.sr-only{
position:absolute;
width:1px;
height:1px;
padding:0;
margin:-1px;
overflow:hidden;
clip:rect(0,0,0,0);
border:0
}

.ml-form-embedSubmitLoad:after{
content:" ";
display:block;
width:11px;
height:11px;
margin:1px;
border-radius:50%;
border:4px solid #fff;
border-color:#ffffff #ffffff #ffffff transparent;
animation:ml-form-embedSubmitLoad 1.2s linear infinite
}

@keyframes ml-form-embedSubmitLoad{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}

#mlb2-26506012.ml-form-embedContainer{
box-sizing:border-box;
display:table;
margin:0 auto;
position:static;
width:100%!important
}

#mlb2-26506012.ml-form-embedContainer h4,
#mlb2-26506012.ml-form-embedContainer p,
#mlb2-26506012.ml-form-embedContainer span,
#mlb2-26506012.ml-form-embedContainer button{
text-transform:none!important;
letter-spacing:normal!important
}

#mlb2-26506012 .ml-form-embedWrapper{
background-color:#f6f6f6;
border-width:0;
border-color:transparent;
border-radius:4px;
border-style:solid;
box-sizing:border-box;
display:inline-block!important;
margin:0;
padding:0;
position:relative
}

#mlb2-26506012 .ml-form-embedWrapper.embedPopup,
#mlb2-26506012 .ml-form-embedWrapper.embedDefault{
width:400px
}

#mlb2-26506012 .ml-form-embedWrapper.embedForm{
max-width:400px;
width:100%
}

#mlb2-26506012 .ml-form-align-left{text-align:left}
#mlb2-26506012 .ml-form-align-center{text-align:center}
#mlb2-26506012 .ml-form-align-right{text-align:right}

#mlb2-26506012 .ml-form-align-default{
display:table-cell!important;
vertical-align:middle!important;
text-align:center!important
}

#mlb2-26506012 .ml-form-embedHeader img{
border-top-left-radius:4px;
border-top-right-radius:4px;
height:auto;
margin:0 auto!important;
max-width:100%;
width:100%
}

#mlb2-26506012 .ml-form-embedBody,
#mlb2-26506012 .ml-form-successBody{
padding:20px 20px 0 20px
}

#mlb2-26506012 .ml-form-embedContent{
text-align:left;
margin:0 0 20px 0
}

#mlb2-26506012 h4{
color:#000;
font-family:'Open Sans',Arial,Helvetica,sans-serif;
font-size:28px;
font-weight:700;
margin:0 0 10px 0;
text-align:center;
word-break:break-word
}

#mlb2-26506012 p{
color:#000;
font-family:'Open Sans',Arial,Helvetica,sans-serif;
font-size:15px;
font-weight:400;
line-height:21px;
margin:0 0 10px 0;
text-align:left
}

#mlb2-26506012 input{
background:#fff!important;
color:#333!important;
border:1px solid #ccc!important;
border-radius:4px!important;
font-family:'Open Sans',Arial,Helvetica,sans-serif;
font-size:14px!important;
padding:10px!important;
width:100%!important;
box-sizing:border-box!important
}

#mlb2-26506012 .ml-form-embedSubmit button{
background:#43a047!important;
border:none!important;
border-radius:4px!important;
color:#fff!important;
cursor:pointer;
font-family:'Open Sans',Arial,Helvetica,sans-serif!important;
font-size:14px!important;
font-weight:700!important;
padding:10px!important;
width:100%!important;
box-sizing:border-box!important
}

#mlb2-26506012 .ml-form-embedSubmit button:hover{
background:#4fbb52!important
}

.ml-form-successBody{
display:none;
padding:20px
}

.ml-form-successBody.show{
display:block
}

@media only screen and (max-width:400px){
.ml-form-embedWrapper.embedDefault,
.ml-form-embedWrapper.embedPopup{
width:100%!important
}
.ml-form-embedHeader{
display:none!important
}
}
